{% extends 'base.html.twig' %}
{% block body %}
    <div class="py-md-5 text-center text-white home-text">
        <img src="/images/logoHK_{{locale}}_BN.png" class="img-fluid" alt="{% trans %}Congreso español de esperanto{% endtrans %}. {% trans %}12-15 de octubre de 2023{% endtrans %}.">
        <h1>{% trans %}Un puente entre culturas{% endtrans %}</h1>
        <p class="lead">
            {% trans %}Ven y conoce a esperantohablantes de diversos países y culturas.{% endtrans %}
            {% trans %}Incríbete ya, con un descuento por incripción temprana hasta el 30 de abril de 2023.{% endtrans %}
        </p>
        <p>
            <a href="{{ path('suggestions') }}" class="btn btn-lg btn-outline-light my-2 me-2 shadow">{% trans %}Sugerencias{% endtrans %}</a>
            <a href="{{ path('new_registration') }}" class="btn btn-lg btn-primary my-2 shadow">{% trans %}Inscríbete{% endtrans %}</a>
        </p>
    </div>
{% endblock %}