<table id="price" class="table table-sm table-bordered">
    <tr>
        <td class="table-light">Subtotal</td>
        <td>{{ initialPrice }} €</td>
    </tr>
    <tr>
        <td class="table-light">Descuento</td>
        <td>-{{ discount }} €</td>
    </tr>
    <tr>
        <td class="table-light">Donación</td>
        <td>{{ donation }} €</td>
    </tr>
    <tr class="fs-5 fw-bold">
        <td class="table-light">Total</td>
        <td>{{ finalPrice }} €</td>
    </tr>
</table>