<table id="price" class="table table-sm table-bordered">
    <tr>
        <td class="table-light">Komenca kvanto</td>
        <td>{{ initialPrice }} €</td>
    </tr>
    <tr>
        <td class="table-light">Rabato</td>
        <td>-{{ discount }} €</td>
    </tr>
    <tr>
        <td class="table-light">Mondonaco</td>
        <td>{{ donation }} €</td>
    </tr>
    <tr class="fs-5 fw-bold">
        <td class="table-light">Sume</td>
        <td>{{ finalPrice }} €</td>
    </tr>
</table>