<p>Kara {{name}}</p>

<p>La Hispana Esperanto-Kongreso komenciĝos tre baldaŭ. Jen kelkaj sciigoj por ke via sperto estu plej bona.</p>

<h2>Prikongresaj datumoj</h2>

<p>Unue, jen viaj personaj prikongresaj datumoj:</p>

<ul>
    <li><b>Plena nomo</b>: {{fullName}}</li>
    <li><b>Kongresa numero</b>: {{number}}</li>
    <li><b>Aliĝkotizo en ordo</b>: {{paid}}</li>
</ul>

<p>Se vi rimarkas eraron en viaj prikongresaj datumoj, bonvolu sciigi tion al ni kiel eble baldaŭ. Koran dankon!</p>

<h2>Donacu materialon por la aŭkcio</h2>

<p>En la programo de la kongreso estas antaŭvidata aŭkcio, por helpi al la kongreso kaj ankaŭ por pasigi bonan tempon.
    Vi mem povas alporti materialon por kontribui al ĝi. Rigardu en via hejmo, kaj kunprenu aĵojn kiuj povas esti interesaj por aliaj,
    ĉefe (sed ne nepre) kun ia rilato al Esperanto. Kontaktu kun Toño del Barrio dum la kongreso, sed iom antaŭ la aŭkcio mem,
    por organizi ĝin. Ah, kaj ne forgesu kunporti plenan monujon, ankaŭ!</p>

<h2>Malmultekosta porvirina loĝeblo</h2>

<p>Disponeblas lito en dulita ĉambro rezervita pere de ni. La esperantistino kiu rezervis la ĉambron serĉas kunloĝantinon. Se vi estas virino
<<<<<<< HEAD
    kaj volas profiti ĉi tiun eblon —aŭ konas virinon tian—, bonvolu kontaktiĝi kun ni (kongreso@esperanto.es). La loĝejo estas la monaĥinejo
=======
    kaj volas profiti ĉi tiun eblon —aŭ konas virinon tian—, bonvolu kontaktiĝi kun ni (MAIL@EXAMPLE.COM). La loĝejo estas la monaĥinejo
>>>>>>> be2155bf9e3b3c71825feb0813133cedafd2dfe4
    "Santa Rosalía", troviĝanta en la strato Cardenal Spínola, n-ro 8 (urbocentre, 1.3 kilometrojn for de la Katedralo). La prezo estas
    50 eŭroj ponokte, do 150 eŭroj por tri noktoj. Do, vi nur elspezus la duonon: 75 eŭrojn, pageblaj surloke.
</p>

<h2>Veturado ekde la flughaveno</h2>

<p>Se vi alvenas al Sevilo per aviadilo, la solaj rimedoj por atingi la urbon ekde la flughaveno estas taksio aŭ la speciala buso nomita
    "Línea Especial Aeropuerto (EA)", apartenanta al la bus-entrepreno TUSSAM. Jen la horaro de la EA-buso:
    <a href="https://www.tussam.es/es/avisos-generales/horario-linea-especial-aeropuerto">https://www.tussam.es/es/avisos-generales/horario-linea-especial-aeropuerto</a>.
</p>

<h2>Vetero</h2>

<p>Ni havas ankoraŭ someran veteron! Ĉi tiu semajno estos plejparte suna, kun iom da pluva ŝanco semajnfine, precipe dimanĉe. Ĉiaokaze vi probable ne bezonos kunporti varmajn vestaĵojn.
</p>

<p>Ĝis baldaŭ!</p>